@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');

:root{
    --color-nav : #3c6382;
    --color-bg-title-frame: linear-gradient(0.25turn, #473206, #816729);
    --color-bg-detail-frame: linear-gradient(0.25turn, #064a80, #085bac);
    --color-shadow-frame:#A4A4A4;
    --color-target-frame:#b98932;
    --color-frame: #fafafa;
    --color-text: #fafafa;
    --color-background: #f5f0e6;
    --color-details: linear-gradient(0.25turn, #760d0d, #560000);
}

section details{
    background: var(--color-bg-detail-frame);
}

section:nth-child(2) details .contentsection{
    background: rgba(86, 86, 87, 1);
}


section:nth-child(3) details .contentsection{
    background: linear-gradient(0.25turn, #760d0d, #560000);
}

section:nth-child(4) details .contentsection{
    background: linear-gradient(0.25turn, #84441f, #563500);
}

section:nth-child(5) details .contentsection{
    background: linear-gradient(0.25turn, #292929, #000000);
}

section:nth-child(6) details .contentsection{
    background: #89042a;
}

section:nth-child(7) details .contentsection{
    background: #13223E;
}

section:nth-child(8) details .contentsection{
    background: linear-gradient(0.25turn, #033e75, #0a5190);
}



html{
    background-color: var(--color-background);
    scroll-behavior: smooth;
}

header{
    background: url(../asset/background.png) center no-repeat;
    background-size: cover;
    

}


body nav{
    text-align: center;
    background: linear-gradient(0.25turn, #473206, #816729);
}


body nav ul li a{
    color: var(--color-text);  
}

header img{
    max-width: 100%;
}

header .logo{
    max-width: 40rem;
    margin: 0 auto;
}

body nav ul li{
    display: inline-block;
    line-height: 6.5rem;
    padding: 0 1.3rem;
    font-size: 1.9rem;
}

body nav li img{
    display: inline-block;
    width: 3rem;
    height: 3rem;
    vertical-align: middle;
    cursor: pointer;
    filter: invert(100%);
}

/* menu déroulant Début */

.sousmenu{
    position: absolute;
    background-color: #b98932;
    z-index: 1000;
    max-width: 30rem;
    border-radius: 0 0 1rem 1rem;
    opacity: 0;
    visibility: hidden;
}

.sousmenu li{
    float: none;
    width: 100%;
    text-align: left;
    padding-left: 1rem;
    border-bottom: .2rem solid #ffffff;
}

.sousmenu li::before{
    content: "✦";
    color: #fafafa;
    font-size: 3rem;
    vertical-align: -0.5rem;
    margin-right: 1rem;
}


nav ul li:hover .sousmenu{
    visibility: initial;
    opacity: 1;
    transition-duration: 150ms;
}

/* menu déroulant Fin */




/*section interieur debut*/


.contentsection{
    border-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
}

main section details h3{
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: var(--color-text);
    text-align: center;
    line-height: 6.0rem;
    font-family: 'Merienda One';
    font-size: 3rem;
}

main section details summary{
    font-weight: bold;
}

.titresectionimage{
    margin: 2rem auto;
    max-width: 65rem;
}

.titresectionimage img{
    max-width: 100%;
}

section details p{
    text-align: center;
    max-width: 80rem;
    margin: 2rem auto 2rem;
    color: var(--color-text);
    padding-bottom: 4rem;
    border-bottom: solid .2rem #fafafa;

}


.listimage ul li img{
    width: 100%;
    height: 100%;
}

.listimage ul li img:hover{
    transform: scale(2.5);
    transition-duration: 0.2s;
}

.listimage ul li{
    width: calc((100% / 3) - (.5rem*2));
    float: left;
    margin: .5rem;
}

.listimage {
    display: flex;
    margin: 0 auto;
    width: 90%;
    padding-bottom: 5rem;
}

.videotitre{
    border-top: solid .2rem #fafafa ;
    max-width: 80rem;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-top: 2rem;
}


.video {
    position: relative;
    overflow: hidden;
    width: 90%;
    padding-top: 50.80%;
    margin: 1rem auto 3rem;
  }
  
.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  section details div p{
    font-size: 2rem;
  }

  /*section interieur fin*/

  /* detail competences debut */

.competences details:nth-child(2) div .listimage ul li{
    width: calc((100% / 8) - (.5rem*2));
}

.competences details:nth-child(2) div .listimage ul li img:hover{
    transform: scale(1);
}

#listlogo ul li img, .displaylogo{
    border-radius: 30%;
}
#listlogo ul li img:hover, .displaylogo:hover{
    background-color: rgba(86, 86, 87, 0.97);
    transition-duration: 0.2s;
    box-shadow: .5rem .5rem 1.5rem 2rem rgba(0, 0, 0, 0.6);
    padding: 1rem;
}

  /* detail competences fin */

main > section{
    background-color: var(--color-frame);
    margin: 10rem auto ;
    max-width: 70%;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: var(--color-shadow-frame) 0 0 3rem;
}

main > section > h2{
    background: var(--color-bg-title-frame);
    color: var(--color-text);
    border-radius: .5rem;
    line-height: 6.0rem;
    font-family: 'Merienda One';
    text-align: center;
    max-width: 90rem;
    margin: 0 auto;
}

main > section:nth-child(1) > h2{
    color: #000000;
    font-size: 3.5rem;
    background: #fafafa;
}

main > section > p{
    margin-top: 1.5rem;
    line-height: 2.6rem;
}

main > section > details{
    margin-top: 1.5rem;
}



section details{
    border-radius: 1rem;
    padding: 1rem;
    max-width: 100rem;
    margin: 0 auto;
}


details p{
    color: var(--color-text);
    text-align: center;
}

section details summary, section details ul li{
    color: var(--color-text);  
}
section details summary{
    cursor: pointer;
}

section details ul li{
    margin: 1rem 5rem;
}

/*section presentation*/


.profile{
    max-width: 30rem;
    float: right;
    margin-right: 1rem;
    margin-left: 2rem;
    margin-top: 3rem;
}


section:nth-child(1) img{
    max-width: 100%;
    border-radius: 50%;
    border: solid #000000 .3rem;
    }

section:nth-child(1) p{
    display: block;
    min-height: 22rem;
}
section:nth-child(1){
    max-width: 50%;
}

/* ------- */

body footer{
    padding: 1rem;
}

body footer h3{
    padding: .5rem;
    background: var(--color-bg-title-frame);
    max-width: 20rem;
    display: block;
    margin: 2rem auto;
    border-radius: 1rem;
    line-height: 4rem;
    color: var(--color-text);
}

body footer ul li{
    display: inline;
    margin: 0 2rem;
}

body footer{
    text-align: center;
    background-color: var(--color-frame);
    border-top: solid var(--color-bg-title-frame) .5rem;
}

body footer p{
    margin: 1rem;
}

.bookmark:target{
    animation: traget_anim 2s 1;
}

@keyframes traget_anim
{
    0%      {background: var(--color-target-frame);}
    75%     {background: var(--color-target-frame);}
    100%    {background: var(--color-bg-title-frame);}
}




@media screen and (max-width: 700px){

    #listlogo ul li img:hover, .displaylogo:hover{
        background: none;
        transition-duration: none;
        box-shadow: none;
        padding: none;
    }

    body nav{
        background-color: #fafafa;
    }

    body nav ul li{
        text-align: left;
        line-height: 2rem;
        margin-bottom: .1rem;
        background-color: #2980b9;
    }

    body nav ul li a{
        font-weight: 100;
    }

    main > section{
        max-width: 95%;
    }

    section:nth-child(1){
        max-width: 95%;
    }

    .profile{
        margin: 0 auto;
        float: none;
        max-width: 20rem;
    }

    body nav ul li{
        display: block;
        padding: 1.3rem;
    }

    body nav li img{
        margin-bottom: 0rem;
        margin: 0 auto;
    }

    body footer ul li{
        display: block;
    }


    .picture li img{
        height: initial;
        max-width: 100%;
    }

    nav ul li:hover .sousmenu{
        visibility: hidden;
        opacity: 0;
    }

    .listimage ul li img:hover{
        transform: none;
        transition-duration: none;
    }

    .listimage {
        display: flex;
        width: 100%;
        padding-bottom: 5rem;
    }

    section details{
        padding: .5rem;
    }

    main section{
        padding: 1rem;
    }

}

